<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
<h1>Welcome to our chat application!</h1>
<form action="/user" method="post">
    <label for="name">Enter your name:</label>
    <input type="text" id="name" name="name" required>
    <input type="submit" value="Submit">
</form>
<hr>
<!--<div th:each="channel : ${channels}}">-->
<!--    <div th:text="${channel.name}}"></div>-->
<!--</div>-->
</body>
</html>